# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\university6\django\django_task3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
